### This file(phonepetest2) is used to see the visual representation of the data

In [8]:
import pandas as pd
import psycopg2
import plotly.express as px
import requests
import json

In [9]:
# Database creation 
#SQL Connection
postgres_connection = psycopg2.connect(host = 'localhost',
                                       user = 'postgres',
                                       password = 'sudhakar',
                                       database = 'phonepe_data',
                                       port = 5432)
postgres_cursor = postgres_connection.cursor()

In [10]:
# Aggregate insurance dataframe
postgres_cursor.execute('SELECT * from aggregated_insurance')
postgres_connection.commit()
aggregated_insurance_data = postgres_cursor.fetchall()
AGGRE_INSURANCE = pd.DataFrame(aggregated_insurance_data, columns = ('States', 'Years', 'Quarters', 'Transaction_type', 
                                                                     'Transaction_count', 'Transaction_amount'))

# Aggregate transaction dataframe
postgres_cursor.execute('SELECT * from aggregated_transaction')
postgres_connection.commit()
aggregated_transaction_data = postgres_cursor.fetchall()
AGGRE_TRANSACTION = pd.DataFrame(aggregated_transaction_data, columns = ('States', 'Years', 'Quarters', 'Transaction_type', 
                                                                     'Transaction_count', 'Transaction_amount'))

# Aggregate user dataframe
postgres_cursor.execute('SELECT * from aggregated_user')
postgres_connection.commit()
aggregated_user_data = postgres_cursor.fetchall()
AGGRE_USER = pd.DataFrame(aggregated_user_data, columns = ('States', 'Years', 'Quarters', 'Brands', 'Count', 'Percentage'))

In [11]:
# Map insurance dataframe
postgres_cursor.execute('SELECT * from map_insurance')
postgres_connection.commit()
map_insurance_data = postgres_cursor.fetchall()
MAP_INSURANCE = pd.DataFrame(map_insurance_data, columns = ('States', 'Years', 'Quarters', 'District', 
                                                            'Transaction_count', 'Transaction_amount'))

# Map transaction dataframe
postgres_cursor.execute('SELECT * from map_transaction')
postgres_connection.commit()
map_transaction_data = postgres_cursor.fetchall()
MAP_TRANSACTION = pd.DataFrame(map_transaction_data, columns = ('States', 'Years', 'Quarters', 'District', 
                                                            'Transaction_count', 'Transaction_amount'))

# Map user dataframe
postgres_cursor.execute('SELECT * from map_user')
postgres_connection.commit()
map_user_data = postgres_cursor.fetchall()
MAP_USER = pd.DataFrame(map_user_data, columns = ('States', 'Years', 'Quarters', 'District', 
                                                  'RegisteredUsers_count', 'AppOpens_count'))

In [12]:
# Top insurance dataframe
postgres_cursor.execute('SELECT * from top_insurance')
postgres_connection.commit()
top_insurance_data = postgres_cursor.fetchall()
TOP_INSURANCE = pd.DataFrame(top_insurance_data, columns = ('States', 'Years', 'Quarters', 'Pincode', 'Transaction_count', 'Transaction_amount'))


# Top transaction dataframe
postgres_cursor.execute('SELECT * from top_transaction')
postgres_connection.commit()
top_transaction_data = postgres_cursor.fetchall()
TOP_TRANSACTION = pd.DataFrame(top_transaction_data, columns = ('States', 'Years', 'Quarters', 'Pincode', 'Transaction_count', 'Transaction_amount'))


# Top user dataframe
postgres_cursor.execute('SELECT * from top_user')
postgres_connection.commit()
top_user_data = postgres_cursor.fetchall()
TOP_USER = pd.DataFrame(top_user_data, columns = ('States', 'Years', 'Quarters', 'Pincode', 'RegisteredUsers'))

In [13]:
# TOP_USER

In [14]:
def Top_Chart_Transaction_Amount(Table_Name):
    #SQL Connection
    postgres_connection = psycopg2.connect(host = 'localhost',
                                        user = 'postgres',
                                        password = 'sudhakar',
                                        database = 'phonepe_data',
                                        port = 5432)
    postgres_cursor = postgres_connection.cursor()


    # Plot_1
    Query_1 = f'''select States, sum(Transaction_amount) as Transaction_amount
                    from {Table_Name} 
                    group by States
                    order by Transaction_amount desc
                    limit 10'''
                
    postgres_cursor.execute(Query_1)
    Table_1 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_1 = pd.DataFrame(Table_1, columns= ('States','Transaction_amount'))
    Figure_Amt_1 = px.bar(Df_1, x= 'States', y= 'Transaction_amount', title= 'TOP 10 TRANSACTION AMOUNT',
                            color_discrete_sequence= px.colors.sequential.Purples_r)
    Figure_Amt_1.show()

    # Plot_2
    Query_2 = f'''select States, sum(Transaction_amount) as Transaction_amount
                    from {Table_Name} 
                    group by States
                    order by Transaction_amount
                    limit 10'''
                
    postgres_cursor.execute(Query_2)
    Table_2 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_2 = pd.DataFrame(Table_2, columns= ('States','Transaction_amount'))
    Figure_Amt_2 = px.bar(Df_2, x= 'States', y= 'Transaction_amount', title= 'LEAST 10 TRANSACTION AMOUNT')
    Figure_Amt_2.show()

    # Plot_3
    Query_3 = f'''select States, avg(Transaction_amount) as Transaction_amount
                    from {Table_Name} 
                    group by States
                    order by Transaction_amount'''
                
    postgres_cursor.execute(Query_3)
    Table_3 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_3 = pd.DataFrame(Table_3, columns= ('States','Transaction_amount'))
    Figure_Amt_3 = px.bar(Df_3, x= 'States', y= 'Transaction_amount', title= 'AVERAGE TRANSACTION AMOUNT', height= 800)
    Figure_Amt_3.show()

In [15]:
# Top_Chart_Transaction_Amount('map_insurance')

In [16]:
def Top_Chart_Transaction_Count(Table_Name):
    # Plot_1
    Query_1 = f'''select States, sum(Transaction_count) as Transaction_count
                    from {Table_Name} 
                    group by States
                    order by Transaction_count desc
                    limit 10'''
                
    postgres_cursor.execute(Query_1)
    Table_1 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_1 = pd.DataFrame(Table_1, columns= ('States','Transaction_count'))
    Figure_Amt_1 = px.bar(Df_1, x= 'States', y= 'Transaction_count', title= 'TOP 10 TRANSACTION COUNT',
                            color_discrete_sequence= px.colors.sequential.Purples_r)
    Figure_Amt_1.show()

    # Plot_2
    Query_2 = f'''select States, sum(Transaction_count) as Transaction_count
                    from {Table_Name} 
                    group by States
                    order by Transaction_count
                    limit 10'''
                
    postgres_cursor.execute(Query_2)
    Table_2 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_2 = pd.DataFrame(Table_2, columns= ('States','Transaction_count'))
    Figure_Amt_2 = px.bar(Df_2, x= 'States', y= 'Transaction_count', title= 'LEAST 10 TRANSACTION COUNT')
    Figure_Amt_2.show()

    # Plot_3
    Query_3 = f'''select States, avg(Transaction_count) as Transaction_count
                    from {Table_Name} 
                    group by States
                    order by Transaction_count'''
                
    postgres_cursor.execute(Query_3)
    Table_3 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_3 = pd.DataFrame(Table_3, columns= ('States','Transaction_count'))
    Figure_Amt_3 = px.bar(Df_3, x= 'States', y= 'Transaction_count', title= 'AVERAGE TRANSACTION COUNT', height= 800)
    Figure_Amt_3.show()

In [17]:
def Top_Chart_Transaction_RegisteredUsers_count(Table_Name, State):
    # Plot_1
    Query_1 = f'''select District, sum(RegisteredUsers_count) as RegisteredUsers_count 
                    from {Table_Name}  where States = '{State}'
                    group by District order by RegisteredUsers_count desc limit 10'''
                
    postgres_cursor.execute(Query_1)
    Table_1 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_1 = pd.DataFrame(Table_1, columns= ('District','RegisteredUsers_count'))
    Figure_Reg_User_1 = px.bar(Df_1, x= 'District', y= 'RegisteredUsers_count', title= 'TOP 10 REGISTERED USER',
                            color_discrete_sequence= px.colors.sequential.Purples_r)
    Figure_Reg_User_1.show()

    # Plot_2
    Query_2 = f'''select District, sum(RegisteredUsers_count) as RegisteredUsers_count 
                   from {Table_Name}  where States = '{State}'
                    group by District order by RegisteredUsers_count asc limit 10'''
                
    postgres_cursor.execute(Query_2)
    Table_2 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_2 = pd.DataFrame(Table_2, columns= ('District','RegisteredUsers_count'))
    Figure_Reg_User_2 = px.bar(Df_2, x= 'District', y= 'RegisteredUsers_count', title= 'LEAST 10 REGISTERED USER')
    Figure_Reg_User_2.show()

    # Plot_3
    Query_3 = f'''select District, avg(RegisteredUsers_count) as RegisteredUsers_count 
                    from {Table_Name}  where States = '{State}'
                    group by District order by RegisteredUsers_count desc '''
                
    postgres_cursor.execute(Query_3)
    Table_3 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_3 = pd.DataFrame(Table_3, columns= ('District','RegisteredUsers_count'))
    Figure_Reg_User_3 = px.bar(Df_3, x= 'District', y= 'RegisteredUsers_count', title= 'AVERAGE REGISTERED USER', height= 800)
    Figure_Reg_User_3.show()

In [18]:
# Top_Chart_Transaction_RegisteredUsers_count('map_user', 'Tamil Nadu')

In [19]:
def Top_Chart_Transaction_AppOpens_count(Table_Name, State):
    # Plot_1
    Query_1 = f'''select District, sum(AppOpens_count) as AppOpens_count 
                    from {Table_Name}  where States = '{State}'
                    group by District order by AppOpens_count desc limit 10'''
                
    postgres_cursor.execute(Query_1)
    Table_1 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_1 = pd.DataFrame(Table_1, columns= ('District','AppOpens_count'))
    Figure_App_opens_Count_1 = px.bar(Df_1, x= 'District', y= 'AppOpens_count', title= 'TOP 10 APP OPENS COUNT',
                                        color_discrete_sequence= px.colors.sequential.Purples_r)
    Figure_App_opens_Count_1.show()

    # Plot_2
    Query_2 = f'''select District, sum(AppOpens_count) as AppOpens_count 
                   from {Table_Name}  where States = '{State}'
                    group by District order by AppOpens_count asc limit 10'''
                
    postgres_cursor.execute(Query_2)
    Table_2 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_2 = pd.DataFrame(Table_2, columns= ('District','AppOpens_count'))
    Figure_App_opens_Count_2 = px.bar(Df_2, x= 'District', y= 'AppOpens_count', title= 'LEAST 10 APP OPENS COUNT')
    Figure_App_opens_Count_2.show()

    # Plot_3
    Query_3 = f'''select District, avg(AppOpens_count) as AppOpens_count 
                    from {Table_Name}  where States = '{State}'
                    group by District order by AppOpens_count desc '''
                
    postgres_cursor.execute(Query_3)
    Table_3 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_3 = pd.DataFrame(Table_3, columns= ('District','AppOpens_count'))
    Figure_App_opens_Count_3 = px.bar(Df_3, x= 'District', y= 'AppOpens_count', title= 'AVERAGE APP OPENS COUNT', height= 800)
    Figure_App_opens_Count_3.show()

In [20]:
# Top_Chart_Transaction_AppOpens_count('map_user', 'Tamil Nadu')

In [21]:
def Top_Chart_Transaction_Top_RegisteredUsers_count(Table_Name, State):
    # Plot_1
    Query_1 = f'''select District, sum(RegisteredUsers_count) as RegisteredUsers_count 
                    from {Table_Name}  where States = '{State}'
                    group by District order by RegisteredUsers_count desc limit 10'''
                
    postgres_cursor.execute(Query_1)
    Table_1 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_1 = pd.DataFrame(Table_1, columns= ('District','RegisteredUsers_count'))
    Figure_Reg_User_1 = px.bar(Df_1, x= 'District', y= 'RegisteredUsers_count', title= 'TOP 10 REGISTERED USER',
                            color_discrete_sequence= px.colors.sequential.Purples_r)
    Figure_Reg_User_1.show()

    # Plot_2
    Query_2 = f'''select District, sum(RegisteredUsers_count) as RegisteredUsers_count 
                   from {Table_Name}  where States = '{State}'
                    group by District order by RegisteredUsers_count asc limit 10'''
                
    postgres_cursor.execute(Query_2)
    Table_2 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_2 = pd.DataFrame(Table_2, columns= ('District','RegisteredUsers_count'))
    Figure_Reg_User_2 = px.bar(Df_2, x= 'District', y= 'RegisteredUsers_count', title= 'LEAST 10 REGISTERED USER')
    Figure_Reg_User_2.show()

    # Plot_3
    Query_3 = f'''select District, avg(RegisteredUsers_count) as RegisteredUsers_count 
                    from {Table_Name}  where States = '{State}'
                    group by District order by RegisteredUsers_count desc '''
                
    postgres_cursor.execute(Query_3)
    Table_3 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_3 = pd.DataFrame(Table_3, columns= ('District','RegisteredUsers_count'))
    Figure_Reg_User_3 = px.bar(Df_3, x= 'District', y= 'RegisteredUsers_count', title= 'AVERAGE REGISTERED USER', height= 800)
    Figure_Reg_User_3.show()

In [22]:
def Top_Chart_RegisteredUsers_count(Table_Name):
    # Plot_1
    Query_1 = f'''select States, sum(RegisteredUsers) as RegisteredUsers 
                    from {Table_Name}
                    group by states order by RegisteredUsers desc limit 10'''
                
    postgres_cursor.execute(Query_1)
    Table_1 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_1 = pd.DataFrame(Table_1, columns= ('States','RegisteredUsers'))
    Figure_Reg_User_1 = px.bar(Df_1, x= 'States', y= 'RegisteredUsers', title= 'TOP 10 REGISTERED USER',
                            color_discrete_sequence= px.colors.sequential.Purples_r)
    Figure_Reg_User_1.show()

    # Plot_2
    Query_2 = f'''select States, sum(RegisteredUsers) as RegisteredUsers 
                    from {Table_Name}
                    group by states order by RegisteredUsers asc limit 10'''
                
    postgres_cursor.execute(Query_2)
    Table_2 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_2 = pd.DataFrame(Table_2, columns= ('States','RegisteredUsers'))
    Figure_Reg_User_2 = px.bar(Df_2, x= 'States', y= 'RegisteredUsers', title= 'LEAST 10 REGISTERED USER')
    Figure_Reg_User_2.show()

    # Plot_3
    Query_3 = f'''select States, avg(RegisteredUsers) as RegisteredUsers 
                    from {Table_Name}
                    group by states order by RegisteredUsers asc'''
                
    postgres_cursor.execute(Query_3)
    Table_3 = postgres_cursor.fetchall()
    postgres_connection.commit()

    Df_3 = pd.DataFrame(Table_3, columns= ('States','RegisteredUsers'))
    Figure_Reg_User_3 = px.bar(Df_3, x= 'States', y= 'RegisteredUsers', title= 'AVERAGE REGISTERED USER', height= 800)
    Figure_Reg_User_3.show()

In [23]:
# Top_Chart_RegisteredUsers_count('top_user')

In [24]:
#Transaction year based
def Transaction_of_Amount_Count_Year(df, year):
    Tra_Amo_Cou_Year = df[df['Years'] == year]
    Tra_Amo_Cou_Year.reset_index(drop= True, inplace= True)

    Tra_Amo_Cou_Year_Group = Tra_Amo_Cou_Year.groupby('States')[['Transaction_count', 'Transaction_amount']].sum()
    Tra_Amo_Cou_Year_Group.reset_index(inplace= True)

    Figure_Amt = px.bar(Tra_Amo_Cou_Year_Group, x= 'States', y= 'Transaction_amount', title= f'{year} TRANSACTION AMOUNT',
                        color_discrete_sequence= px.colors.sequential.Purples_r)
    Figure_Amt.show()

    Figure_Count = px.bar(Tra_Amo_Cou_Year_Group, x= 'States', y= 'Transaction_count', title= f'{year} TRANSACTION COUNT',
                        color_discrete_sequence= px.colors.sequential.Rainbow)
    Figure_Count.show()
    
    url = 'https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson'
    response = requests.get(url)
    world_data1 = json.loads(response.content)
    States_name = []
    for i in world_data1['features']:
        States_name.append(i['properties']['ST_NM'])
    States_name.sort()

    India_figure_amt = px.choropleth(Tra_Amo_Cou_Year_Group, geojson=world_data1, locations='States', featureidkey='properties.ST_NM',
                                    color='Transaction_amount', color_continuous_scale='rainbow', 
                                    range_color=(Tra_Amo_Cou_Year_Group['Transaction_amount'].min(), Tra_Amo_Cou_Year_Group['Transaction_amount'].max()), # Corrected line
                                    hover_name='States', title=f'{year} TRANSACTION AMOUNT', fitbounds='locations',
                                    height=600, width=600)
    India_figure_amt.update_geos(visible = False)
    India_figure_amt.show()
    
    India_figure_count = px.choropleth(Tra_Amo_Cou_Year_Group, geojson=world_data1, locations='States', featureidkey='properties.ST_NM',
                                    color='Transaction_count', color_continuous_scale='rainbow', 
                                    range_color=(Tra_Amo_Cou_Year_Group['Transaction_count'].min(), Tra_Amo_Cou_Year_Group['Transaction_count'].max()), # Corrected line
                                    hover_name='States', title=f'{year} TRANSACTION COUNT', fitbounds='locations',
                                    height=600, width=600)
    India_figure_count.update_geos(visible = False)
    India_figure_count.show()
    
    return Tra_Amo_Cou_Year

In [25]:
#Transaction quarter based
def Transaction_of_Amount_Count_Year_Quarter(df, Quarter):
    Tra_Amo_Cou_Year_Quarter = df[df['Quarters'] == Quarter]
    Tra_Amo_Cou_Year_Quarter.reset_index(drop= True, inplace= True)

    Tra_Amo_Cou_Year_Quarter_Group = Tra_Amo_Cou_Year_Quarter.groupby('States')[['Transaction_count', 'Transaction_amount']].sum()
    Tra_Amo_Cou_Year_Quarter_Group.reset_index(inplace= True)

    
    India_figure_amt = px.bar(Tra_Amo_Cou_Year_Quarter_Group, x= 'States', y= 'Transaction_amount', title= f"{Tra_Amo_Cou_Year_Quarter['Years'].min()} Year {Quarter} Quarter TRANSACTION AMOUNT",
                        color_discrete_sequence= px.colors.sequential.Purples_r)
    India_figure_amt.show()
        
    India_figure_count = px.bar(Tra_Amo_Cou_Year_Quarter_Group, x= 'States', y= 'Transaction_count', title= f"{Tra_Amo_Cou_Year_Quarter['Years'].min()} Year {Quarter} TRANSACTION COUNT",
                        color_discrete_sequence= px.colors.sequential.Rainbow)
    India_figure_count.show()
    
    url = 'https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson'
    response = requests.get(url)
    world_data1 = json.loads(response.content)
    States_name = []
    for i in world_data1['features']:
        States_name.append(i['properties']['ST_NM'])
    States_name.sort()

    India_figure_amt = px.choropleth(Tra_Amo_Cou_Year_Quarter_Group, geojson=world_data1, locations='States', featureidkey='properties.ST_NM',
                                    color='Transaction_amount', color_continuous_scale='rainbow', 
                                    range_color=(Tra_Amo_Cou_Year_Quarter_Group['Transaction_amount'].min(), Tra_Amo_Cou_Year_Quarter_Group['Transaction_amount'].max()), # Corrected line
                                    hover_name='States', title=f"{Tra_Amo_Cou_Year_Quarter['Years'].min()} Year {Quarter} TRANSACTION AMOUNT", fitbounds='locations',
                                    height=600, width=600)
    India_figure_amt.update_geos(visible = False)
    India_figure_amt.show()
    
    India_figure_count = px.choropleth(Tra_Amo_Cou_Year_Quarter_Group, geojson=world_data1, locations='States', featureidkey='properties.ST_NM',
                                    color='Transaction_count', color_continuous_scale='rainbow', 
                                    range_color=(Tra_Amo_Cou_Year_Quarter_Group['Transaction_count'].min(), Tra_Amo_Cou_Year_Quarter_Group['Transaction_count'].max()), # Corrected line
                                    hover_name='States', title=f"{Tra_Amo_Cou_Year_Quarter['Years'].min()} Year {Quarter} TRANSACTION COUNT", fitbounds='locations',
                                    height=600, width=600)
    India_figure_count.update_geos(visible = False)
    India_figure_count.show()
        
    return Tra_Amo_Cou_Year_Quarter

In [26]:
#Transaction Type based
def Aggre_Trans_Transaction_Type(Aggre_Trans_T_A_C_Y, state):
    Tra_Amo_Cou_Year_Type = Aggre_Trans_T_A_C_Y[Aggre_Trans_T_A_C_Y['States'] == state]
    Tra_Amo_Cou_Year_Type.reset_index(drop= True, inplace= True)

    Tra_Amo_Cou_Year_Type_Group = Tra_Amo_Cou_Year_Type.groupby('Transaction_type')[['Transaction_count', 'Transaction_amount']].sum()
    Tra_Amo_Cou_Year_Type_Group.reset_index(inplace= True)

    Figure_Amt_pie = px.pie(data_frame= Tra_Amo_Cou_Year_Type_Group, names= 'Transaction_type', values= 'Transaction_amount',
                        width= 800, title= f'{state.upper()} TRANSACTION AMOUNT', hole= 0.2)
    Figure_Amt_pie.show()

    Figure_Count_pie = px.pie(data_frame= Tra_Amo_Cou_Year_Type_Group, names= 'Transaction_type', values= 'Transaction_count',
                            width= 800, title= f'{state.upper()} TRANSACTION COUNT', hole= 0.2)
    Figure_Count_pie.show()

In [27]:
# Aggre user year wise
def Aggre_User_Year_Wise_Plot(df, year):
    Aggre_User_Year = df[df['Years'] == year]
    Aggre_User_Year.reset_index(drop= True, inplace= True)

    Aggre_User_Year_Group =pd.DataFrame(Aggre_User_Year.groupby('Brands')['Count'].sum())
    Aggre_User_Year_Group.reset_index(inplace=True)

    Figure_Count_bar = px.bar(Aggre_User_Year_Group, x = 'Brands', y = 'Count', title= 'BRANDS AND TRANSACTION COUNT',
                            width= 800, color_discrete_sequence= px.colors.sequential.Pinkyl_r)
    Figure_Count_bar.show()
    
    return Aggre_User_Year

In [28]:
# Aggre user quarter wise
def Aggre_User_Quarter_Wise_Plot(df, Quarter):
    Aggre_User_Year_Quarter = df[df['Quarters'] == Quarter]
    Aggre_User_Year_Quarter.reset_index(drop= True, inplace= True)

    Aggre_User_Year_Quarter_Group = pd.DataFrame(Aggre_User_Year_Quarter.groupby('Brands')['Count'].sum())
    Aggre_User_Year_Quarter_Group.reset_index(inplace= True)

    Figure_count_bar = px.bar(Aggre_User_Year_Quarter_Group, x = 'Brands', y = 'Count', title= f'{Quarter} Quarter BRANDS AND TRANSACTION COUNT',
                            width= 800, color_discrete_sequence= px.colors.sequential.Pinkyl_r)
    Figure_count_bar.show()

    return Aggre_User_Year_Quarter

In [29]:
# Aggre user state wise
def Aggre_User_State_Wise_Plot(df, state):
    Aggre_User_Y_Q_S = df[df['States'] == state]
    Aggre_User_Y_Q_S.reset_index(drop= True, inplace= True)

    Figure_count_line = px.line(Aggre_User_Y_Q_S, x = 'Brands', y = 'Count', hover_data= 'Percentage',
                                title= 'BRANDS, TRANSACTION COUNT AND PERCENTAGE', width= 800, markers= True)
                            
    Figure_count_line.show()

    # return Aggre_User_Y_Q_S

In [30]:
# Map Insurance District  based
def Map_Insurance_District(df, state):
    Tra_Amo_Cou_Year_District = df[df['States'] == state]
    Tra_Amo_Cou_Year_District.reset_index(drop= True, inplace= True)

    Tra_Amo_Cou_Year_District_Group = Tra_Amo_Cou_Year_District.groupby('District')[['Transaction_count', 'Transaction_amount']].sum()
    Tra_Amo_Cou_Year_District_Group.reset_index(inplace= True)

    Figure_Amt_pie = px.bar(Tra_Amo_Cou_Year_District_Group, x= 'District', y= 'Transaction_amount',title= f'{state.upper()} DISTRICT AND TRANSACTION AMOUNT')                      
    Figure_Amt_pie.show()

    Figure_Count_pie = px.bar(Tra_Amo_Cou_Year_District_Group, x= 'District', y= 'Transaction_count',
                              title= f'{state.upper()} DISTRICT AND TRANSACTION COUNT', color_discrete_sequence=px.colors.sequential.Magenta_r)                       
    Figure_Count_pie.show()

In [31]:
# map user year wise
def Map_User_Year_Wise_Plot(df, year):
    Map_User_Year = df[df['Years'] == year]
    Map_User_Year.reset_index(drop= True, inplace= True)

    Map_User_Year_Group =pd.DataFrame(Map_User_Year.groupby('States')[['RegisteredUsers_count', 'AppOpens_count']].sum())
    Map_User_Year_Group.reset_index(inplace=True)

    Figure_count_line = px.line(Map_User_Year_Group, x = 'States', y = ['RegisteredUsers_count', 'AppOpens_count'],
                                    title= f'{year} REGISTERED USER COUNT AND APP OPENS COUNT', width= 1000, height= 700, markers= True)
    Figure_count_line.show()    
    
    return Map_User_Year

In [32]:
# Map user quarter wise
def Map_User_Quarter_Wise_Plot(df, quarter):
    Map_User_Year_Quarter = df[df['Quarters'] == quarter]
    Map_User_Year_Quarter.reset_index(drop= True, inplace= True)

    Map_User_Year_Quarter_Group = pd.DataFrame(Map_User_Year_Quarter.groupby('States')[['RegisteredUsers_count', 'AppOpens_count']].sum())
    Map_User_Year_Quarter_Group.reset_index(inplace= True)

    Figure_count_line = px.line(Map_User_Year_Quarter_Group, x = 'States', y = ['RegisteredUsers_count', 'AppOpens_count'],
                                        title= f"{df['Years'].min()} YEAR {quarter} REGISTERED USER COUNT AND APP OPENS COUNT", width= 1000, height= 700, markers= True)
    Figure_count_line.show()    

    return Map_User_Year_Quarter

In [33]:
# Map user state wise
def Map_User_State_Wise_Plot(df, state):
    Map_User_Year_Quarter_State = df[df['States'] == state]
    Map_User_Year_Quarter_State.reset_index(drop= True, inplace= True)

    Figure_MapUser_bar_1 = px.bar(Map_User_Year_Quarter_State, x= 'District', y= 'RegisteredUsers_count', title= 'DISTRICT AND REGISTERED USER COUNT',
                                color_discrete_sequence= px.colors.sequential.Rainbow_r, width= 800, height= 600)
    Figure_MapUser_bar_1.show()

    Figure_MapUser_bar_2 = px.bar(Map_User_Year_Quarter_State, x= 'District', y= 'AppOpens_count', title= 'DISTRICT AND APP OPENS COUNT',
                                color_discrete_sequence= px.colors.sequential.Rainbow, width= 800, height= 600)
    Figure_MapUser_bar_2.show()

In [34]:
# Top Insurance Quarters Pincode wise
def Top_Insurance_Quarters_Pincode_Wise_Plot(df, states):
    Top_Insurance_Year = df[df['States'] == states]
    Top_Insurance_Year.reset_index(drop= True, inplace= True)

    # Top_Insurance_Year_Group =pd.DataFrame(Top_Insurance_Year.groupby('Pincode')[['Transaction_count', 'Transaction_amount']].sum())
    # Top_Insurance_Year_Group.reset_index(inplace=True)

    Figure_Top_Ins_bar_1 = px.bar(Top_Insurance_Year, x= 'Quarters', y= 'Transaction_count', hover_data= 'Pincode',
                                title= 'PINCODE WITH TRANSACTION COUNT', color_discrete_sequence= px.colors.sequential.Rainbow_r)
    Figure_Top_Ins_bar_1.show()
    
    Figure_Top_Ins_bar_2 = px.bar(Top_Insurance_Year, x= 'Quarters', y= 'Transaction_amount', hover_data= 'Pincode',
                                title= 'PINCODE WITH TRANSACTION COUNT', color_discrete_sequence= px.colors.sequential.Rainbow)
    Figure_Top_Ins_bar_2.show()

In [35]:
# Top user year wise
def Top_User_Year_Quarters_Wise_Plot(df, year):
    Top_User_Year = df[df['Years'] == year]
    Top_User_Year.reset_index(drop= True, inplace= True)

    Top_User_Year_Quarter_Group =pd.DataFrame(Top_User_Year.groupby(['States', 'Quarters'])['RegisteredUsers'].sum())
    Top_User_Year_Quarter_Group.reset_index(inplace=True)

    Figure_Top_User_bar_1 = px.bar(Top_User_Year_Quarter_Group, x= 'States', y= 'RegisteredUsers', color= 'Quarters', 
                                   title= f'{year} REGISTER USER COUNT', color_discrete_sequence= px.colors.sequential.Burgyl_r, height= 600)
    Figure_Top_User_bar_1.show()
    
    return Top_User_Year

In [36]:
# Top user States Pincode Quarter wise
def Top_User_States_Wise_Plot(df, state):
    Top_User_Year_States = df[df['States'] == state]
    Top_User_Year_States.reset_index(drop= True, inplace= True)

    Figure_Top_User_bar_2 = px.bar(Top_User_Year_States, x= 'Quarters', y= 'RegisteredUsers', color= 'RegisteredUsers', hover_data= 'Pincode',
                                    title= f'{state} REGISTER USER COUNT, QUARTER AND PINCODE', color_continuous_scale= px.colors.sequential.Magenta)
    Figure_Top_User_bar_2.show()

### Aggre_insurance

In [37]:
# T_A_C_Y =Transaction_of_Amount_Count_Year(Aggre_insurance, 2023)

In [38]:
# Transaction_of_Amount_Count_Year_Quarter(T_A_C_Y, 3)

### Aggre_transaction

In [39]:
# Aggre_Trans_T_A_C_Y = Transaction_of_Amount_Count_Year(Aggre_transaction, 2023)

In [40]:
# Aggre_Trans_Transaction_Type(Aggre_Trans_T_A_C_Y, 'Andaman & Nicobar')

In [41]:
# Aggre_Trans_T_A_C_Y_Q = Transaction_of_Amount_Count_Year_Quarter(Aggre_Trans_T_A_C_Y, 3)

In [42]:
# Aggre_Trans_Transaction_Type(Aggre_Trans_T_A_C_Y_Q, 'Tamil Nadu')

In [43]:
# Aggre_Trans_T_A_C_Y_Q['states'].unique()

### Aggre_user

In [44]:
# Aggre_User_Yr = Aggre_User_Year_Wise_Plot(Aggre_user, 2020)

In [45]:

# Aggre_User_Y_Qr = Aggre_User_Quarter_Wise_Plot(Aggre_User_Yr, 2)

In [46]:
# Aggre_User_State_Wise_Plot(Aggre_User_Y_Qr, 'Tamil Nadu')

### Map Insurance

In [47]:
# Map_insurance_T_A_C_Y = Transaction_of_Amount_Count_Year(MAP_INSURANCE, 2023)

In [48]:
# Map_Insurance_District(Map_insurance_T_A_C_Y, 'Tamil Nadu')

In [49]:
# Map_insurance_T_A_C_Y_Q = Transaction_of_Amount_Count_Year_Quarter(Map_insurance_T_A_C_Y, 3)

In [50]:
# Map_Insurance_District(Map_insurance_T_A_C_Y_Q, 'Tamil Nadu')

### Map Transaction

In [51]:
# Map_transaction_T_A_C_Y = Transaction_of_Amount_Count_Year(MAP_TRANSACTION, 2022)

In [52]:
# Map_Insurance_District(Map_transaction_T_A_C_Y, 'Tamil Nadu')

In [53]:
# Map_transaction_T_A_C_Y_Q = Transaction_of_Amount_Count_Year_Quarter(Map_transaction_T_A_C_Y, 2)

In [54]:
# Map_Insurance_District(Map_transaction_T_A_C_Y_Q, 'Tamil Nadu')

### Map User

In [55]:

# Map_User_Year = Map_User_Year_Wise_Plot(MAP_USER, 2020)

In [56]:
# Map_User_Year_Quarter = Map_User_Quarter_Wise_Plot(Map_User_Year, 2)

In [57]:
# Map_User_State_Wise_Plot(Map_User_Year_Quarter, 'Tamil Nadu')

### Top Insurance

In [58]:
# Top_Insurance_T_A_C_Y = Transaction_of_Amount_Count_Year(TOP_INSURANCE, 2021)

In [59]:
# Top_Insurance_Quarters_Pincode_Wise_Plot(TOP_INSURANCE, 'Tamil Nadu')

In [60]:
# Top_Insurance_T_A_C_Y_Q = Transaction_of_Amount_Count_Year_Quarter(Top_Insurance_T_A_C_Y, 3)

### Top Transaction

In [61]:
# Top_Transaction_T_A_C_Y = Transaction_of_Amount_Count_Year(TOP_TRANSACTION, 2021)

In [62]:
# Top_Insurance_Quarters_Pincode_Wise_Plot(Top_Transaction_T_A_C_Y, 'Tamil Nadu')

In [63]:
# Top_Transaction_T_A_C_Y_Q = Transaction_of_Amount_Count_Year_Quarter(Top_Transaction_T_A_C_Y, 3)

### Top User

In [64]:
# Top_User_T_A_C_Y = Top_User_Year_Quarters_Wise_Plot(TOP_USER, 2023)

In [65]:
# Top_User_T_A_C_Y_S = Top_User_States_Wise_Plot(Top_User_T_A_C_Y, 'Tamil Nadu')